Repository vladislav-chunikhin/sport-news: changes, and which Codecov flags are due for each by the changed paths.
All: feed-fetcher, feed-service, feed-transformer

codecov.yml:

coverage:
  status:
    project:
      default: off
      feed-fetcher:
        target: 80%
        flags:
          - feed-fetcher
      feed-service:
        target: 60%
        flags:
          - feed-service
      feed-transformer:
        target: 60%
        flags:
          - feed-transformer

flags:
  feed-fetcher:
    paths:
      - feed-fetcher/
  feed-service:
    paths:
      - feed-service/
  feed-transformer:
    paths:
      - feed-transformer/

added action to test the k8s deployment
  .github/workflows/docker-build-feed-fetcher.yaml
  feed-fetcher/deployment/k8s-test/feed-fetcher-deployment.yaml
  feed-fetcher/deployment/k8s-test/k8s-apply.sh
Due: feed-fetcher

changed guthub action orders
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

path test
  feed-fetcher/deployment/k8s-test/k8s-apply.sh
Due: feed-fetcher

specify namespace
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

fixed curl command
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test curl
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test2
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test3
  .github/workflows/docker-build-feed-fetcher.yaml
  feed-fetcher/deployment/k8s-test/k8s-apply.sh
  feed-fetcher/deployment/k8s-test/k8s-delete.sh
Due: feed-fetcher

test4
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test5
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test7
  .github/workflows/docker-build-feed-fetcher.yaml
Due: none

test6
  .github/workflows/docker-build-feed-fetcher.yaml
  feed-fetcher/build/Dockerfile
Due: feed-fetcher

minor fix
  feed-fetcher/build/Dockerfile
Due: feed-fetcher

added k8s test for feed service
  .github/workflows/docker-build-feed-service.yaml
  feed-fetcher/README.md
  feed-service/.env
  feed-service/Makefile
  feed-service/README.md
  feed-service/build/Dockerfile
  feed-service/deployment/k8s-test/feed-app-deployment.yaml
  feed-service/deployment/k8s-test/feed-app-namespace.yaml
  feed-service/deployment/k8s-test/feed-app-service.yaml
  feed-service/deployment/k8s-test/k8s-apply.sh
  feed-service/deployment/k8s-test/k8s-delete.sh
  feed-service/deployment/k8s-test/mongodb-configmap.yaml
  feed-service/deployment/k8s-test/mongodb-deployment.yaml
  feed-service/deployment/k8s-test/mongodb-service.yaml
  feed-transformer/.env
  feed-transformer/Makefile
  feed-transformer/README.md
  feed-transformer/build/Dockerfile
  feed-transformer/deployment/k8s-test/feed-service-deployment.yaml
  feed-transformer/deployment/k8s-test/feed-service-namespace.yaml
  feed-transformer/deployment/k8s-test/feed-service-service.yaml
  feed-transformer/deployment/k8s-test/k8s-apply.sh
  feed-transformer/deployment/k8s-test/k8s-delete.sh
  feed-transformer/deployment/k8s-test/mongodb-configmap.yaml
  feed-transformer/deployment/k8s-test/mongodb-deployment.yaml
  feed-transformer/deployment/k8s-test/mongodb-service.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-configmap.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-deployment.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-service.yaml
Due: feed-fetcher, feed-service, feed-transformer

added k8s test for feed transformer service
  .github/workflows/docker-build-feed-service.yaml
  .github/workflows/docker-build-feed-transformer.yaml
  feed-transformer/build/Dockerfile
  feed-transformer/deployment/k8s-test/feed-service-service.yaml
  feed-transformer/deployment/k8s-test/feed-transformer-deployment.yaml
  feed-transformer/deployment/k8s-test/feed-transformer-namespace.yaml
  feed-transformer/deployment/k8s-test/feed-transformer-service.yaml
  feed-transformer/deployment/k8s-test/k8s-apply.sh
  feed-transformer/deployment/k8s-test/k8s-delete.sh
  feed-transformer/deployment/k8s-test/mongodb-configmap.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-configmap.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-deployment.yaml
  feed-transformer/deployment/k8s-test/rabbitmq-service.yaml
  feed-transformer/deployment/k8s-test/redis-deployment.yaml
  feed-transformer/deployment/k8s-test/redis-service.yaml
Due: feed-transformer

minor fix
  feed-transformer/deployment/k8s-test/k8s-apply.sh
Due: feed-transformer
